.m_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90vw;
    height: 35vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    z-index: 9999;
  }
  
  .m_popup_title {
    text-align: left;
    height: 5vh;
    width: 90vw;
    font-size: 3.2vh;
    font-weight: 700;
    margin-left: 5vw;
  }
  
  .m_popup_input {
    height: 8vh;
    width: 100%;
    font-size: 3.5vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    margin: 1vh 1vh 1vh 1vh;
  }
  
  .m_popup_input > input {
      width: 60vw;
      height: 3vh;
      border: 2px solid grey;
      border-radius: 6vh;
      padding: 0.5rem;
      font-size: 2vh;
      font-weight: 600;
  }
   .errorText {
    color: red;
    font-size: 14px; 
    margin-top: 4px; 
    margin: 1vh 1vh 1vh 10vh;
  }
  .m_popup_choose_color{
      height: 5vh;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 3vw;
      align-items: center;
  }
  
  .m_popup_color_input > span{
      font-size: large;
      font-weight: 600;
  }
  
  .m_popup_color{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2vw;
  }
  
  .m_popup_color_1,
  .m_popup_color_2,
  .m_popup_color_3,
  .m_popup_color_4,
  .m_popup_color_5,
  .m_popup_color_6 {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: black;
  }
  
  .m_popup_color_1{
      background-color: #B38BFA;
  }
  
  .m_popup_color_2{
      background-color: #FF79F2;
  }
  
  .m_popup_color_3{
      background-color: #43E6FC;
  }
  
  .m_popup_color_4{
      background-color: #F19576;
  }
  
  .m_popup_color_5{
      background-color: #0047FF;
  }
  
  .m_popup_color_6{
      background-color: #6691FF;
  }
  
  .m_popup_create {
    height: 5vh;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    margin: 1vh 1vh 1vh 1vh;
  }
  
  .m_popup_create > button {
    margin-top: 1rem;
    height: 6vh;
    width: 25vw;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4vh;
    background-color: black;
  }
